#brief-history > .container {
    display: flex;
    align-items: center;
    padding: 5% 2%;
}

#text-brief-history {
    font-size: 2em;
}

.highlight {
    color: #CF201C;
    font-weight: bold;
}

/* Estilos para dispositivos menores que md (medium) */
@media screen and (max-width: 767px) {
    #brief-history > .container {
        display: block;
    }

    #img-brief-history img {
        width: 100%;
    }

    #text-brief-history {
        font-size: 1.5em;
        width: 100%;
        text-align: justify;
    }
   
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px){
    #brief-history > .container {
        display: flex;
        align-items: center;
        padding: 5% 2%;
        overflow-x: hidden;
    }

    #img-brief-history img {
        width: 300px;
    }

    #text-brief-history {
        font-size: 1em;
    }

    #text-brief-history {
        width: 90%;
        text-align: justify;
    }
}