#carmen-footer {
    background-color: #202020;
    padding-top: 2%;
}

#carmen-footer img {
    padding-left: 40%;
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px){
    #carmen-footer img {
        padding-left: 30%;
    }
}

/* Estilos para dispositivos menores que md (medium) */
@media (max-width: 767px) {
    #carmen-footer img {
        padding-left:20% ;
    }
}